<section>
  <%= form_for task do |f| %>
    <div>
      <% if task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div>
      <p>
        <%= f.label :title %>
        <div><%= f.text_field :title %></div>
      </p>
      <p>
        <%= f.label :description %>
        <div><%= f.text_area :description %></div>
      </p>
      <p><%= f.submit %>
    </div>
  <% end %>

  <p><%= link_to 'Back to tasks page', tasks_path %></p>
</section>
